<!DOCTYPE html>
<html>
  <head>
    <title>Minimal Editor</title>
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div id="pad" class="pad mousetrap" contenteditable="true"></div>
    <script src="js/main.min.js"></script>

  </body>

</html>
